/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    height: 100vh;
    background-image: linear-gradient(
        to bottom, 
        #075E54 0%,
        #075E54 15%,
        #ECE5DD 15%,
        #ECE5DD 100%
    );
    display: flex;
    justify-content:center;
    align-items:center;
    font-size:16px;
}


/* Utilities */

/* Img */

.user-img{
    max-width: 40px;
    border-radius:50%;
    vertical-align: middle;
}

/* Buttons */

.btn{
    min-width:100px;
    outline: none;
    background-color: #fff;
    border: .2px solid #eee;
    cursor: pointer;

}

/* Icons */

.icons-list a{
    margin-right: 1rem;
    color: #aaa;
    transition: .4s;
    font-size: 1.1rem;
}

.icons-list a:last-child{
    margin-right:0;
}

/* User-information */

.user-information{
    /* display: block; */
    font-size:.9rem;
    margin-left: 5px;
}

.user-information.access{
    display: block;
    margin-top: 3px;
    margin-bottom:3px;
}

.user-information.access.date{
    font-size:.7rem;color: #bbb;
    
}


/* LAYOUT */

.container {
    display: flex;
    width: 80%;
    min-width: 900px;
    height: 95%;
    background-color: #fff;
}



/* SIDE LEFT */

.side{
    flex-basis: 35%;
    /* background-color:#ccc; */
    display: flex;
    flex-direction:column;
}

/* Side-Header */
.side-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:60px;
    padding: 0 10px;
    background-color:#ededed;
}



.side-notifications{
    display: flex;
    align-items: center;
    height: 70px;
    background-color:#a2dffe;
    padding: 0 10px;
    font-size:.8rem;
}

.side-notifications .alert{
    width: 50px;
    height: 50px;
    background-color:#fff;
    border-radius:50%;
    color: #a2dffe;
    text-align: center;
    line-height: 50px;
    font-size: 1.1rem;
    margin-right: .8rem;
}

.info-notifications a{
    display: block;
    color: #656a6d;
    /* text-decoration: none; */
    font-size: .8rem;
    margin-top: 5px;
    transition: .4s;
}

/* Search Conversation */
.side-search{
    display: flex;
    height: 50px;
    padding: 8px;
    background-color: rgb(236, 236, 236);
}

.side-search button i{
    color: #aaa;
    transition: .4s;

}

.side-search input{
    flex-grow: 1;
    padding: 0 5px;
    font-size: .7rem;
    color: #000;
    outline: none;
    border: .2px solid #eee;
    background-color: #fff;
    transition: .4s;
}

/* Contacts */
.side-contacts{
    overflow-y: auto;
    height: calc(100% - 280px);
    flex-grow: 1;
}

.side-contacts .contacts-list li.contacts{
    list-style:none ;
    display: flex;
    align-items:center;
    padding: 15px 10px;
    border-bottom: 1px solid #eee;
    transition: .4s;
    cursor:pointer;
}

.side-contacts .contacts-list li.contacts:last-child{
    border-bottom: none;
}

.side-contacts .contacts-list li.contacts span{
    margin-left: 10px;
}



/* MAIN */

.content {
    flex-basis: 65%;
    background-image: url(../img/mine.jpg);
    display: flex;
    flex-direction:column;
}

/* Header Content */
.header-content{
    height: 60px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 10px;
    background-color:#ededed;
    border-left: 1px solid #ddd;

}
/* User */
.header-content-user{
    display: flex;
    align-items:center;
}


/* Chat Content */

.content-chat{
    flex-grow: 1;
    overflow-y: auto;
    height: calc(100% - 120px);
    padding: 15px 50px;
}

.message-chat{
    display: flex;
    flex-direction: column;
}

/* Box message */
.box-message.send,
.box-message.received{
    min-height: 40px;
    width: 250px;
    max-width: 250px;
    margin: 15px 0;
    background-color: #fff;
    padding: 15px 10px 25px;
    font-size:.8rem;
    border-radius:10px;
    position: relative;
    word-wrap: anywhere;
}

.box-message.send{
    align-self: flex-end;
    background-color: #DCF8C6;
}

.data-aggiornata{
    position:absolute;
    bottom: 5px;
    right:10px;
    font-size:.6rem;
    color: #656a6d;

}




/* Footer Content */
.content-footer{
    height:60px;
    padding: 0 5px;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color:#f4f0ed;
}

.content-footer button.btn{
    height:75%;
    font-size:1.3rem;
    color: #aaa;
    border: none;
    background-color:transparent;
}

.content-footer input{
    height: 75%;
    padding: 0 5px;
    color: #000;
    flex-grow: 1;
    border-radius: 10px;
    outline: none;
    border: none;
}


/* HOVER/FOCUS */

.icons-list a:hover,
.side-search button.btn:focus i{
    color: #656a6d;
    
}

.side-contacts .contacts-list li.contacts.active,
.side-contacts .contacts-list li.contacts:hover{
    background-color:rgba(0,0,0,.15);
}

.content-footer button.btn:hover{
    color: #656a6d;
}

.content-footer button.btn:last-child:active{
    color: green;
}

.side-search input:focus{
    border: 1px solid #aaa;
}

.content-footer input:focus{
    border: 1px solid #ddd;
}

