<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <!-- ICONS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==' crossorigin='anonymous'/>
    <!-- CSS STYLE -->
    <link rel="stylesheet" href="./css/main.css">
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Boolzapp</title>
</head>
<body>
    <div id="app" class="container">

        <!-- SIDE-LEFT -->
        <aside class="side">

            <!-- Side-Header -->
            <section class="side-header">
                <!-- User -->
                <div class="side-header-user">
                    <img class="user-img" src="./img/avatar_8.jpg" alt="user-img">
                    <span class="user-information">UserName</span>
                </div>

                <!-- Icons -->
                <div class="icons-list">
                    <a href="#">
                        <i class="fas fa-circle-notch"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-comment-alt"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-ellipsis-v"></i>
                    </a>
                </div>
            </section>

            <!-- Notifications -->
            <section class="side-notifications">
                <div class="alert">
                    <i class="fas fa-bell-slash"></i>
                </div>
                <div class="info-notifications">
                    <span>Ricevi notifiche di nuovi messaggi</span>
                    <a href="">Attiva notifiche desktop</a>
                </div>

            </section>

            <!-- Search Conversation -->
            <section class="side-search">
                <button class="btn" @click="addFocusSearch"><i class="fas fa-search"></i></button>
                <input type="text" placeholder="Cerca o inizia una nuova chat" ref="search">
            </section>

            <!-- Contacts -->
            <section class="side-contacts">
                <ul class="contacts-list">
                    <li class="contacts"   v-for="(contact,index) in contacts" :key="index"
                        @click="setChat(index)" :class="{active: index == indexChat}"
                    >
                        <img class="user-img" :src="'./img/avatar' + contact.avatar + '.jpg'" :alt="contact.name + 'user-img'">
                        <span class="user-information">{{ contact.name }}</span>
                    </li>


                    <!-- Static for Layout -->

                    <!-- <li class="contacts">
                        <img class="user-img" src="./img/avatar_2.jpg" alt="">
                        <span class="user-information">Pasquale</span>
                    </li>
                    <li class="contacts">
                        <img class="user-img" src="./img/avatar_3.jpg" alt="">
                        <span class="user-information">Giraldo</span>
                    </li> -->
                </ul>
            </section>
        </aside>


        <!-- MAIN -->
        <main class="content">

            <!-- Header Content -->
            <section class="header-content">
                <!-- User -->
                <div class="header-content-user">
                    <img class="user-img" :src="'./img/avatar' + contacts[indexChat].avatar + '.jpg'" :alt="contacts[indexChat].name">
                    <div>
                        <span class="user-information access">{{ contacts[indexChat].name }}</span>
                        <span class="user-information access date">Ultimo accesso oggi alle 10.35</span>
                    </div>
                </div>
                <!-- Icons -->
                <div class="icons-list">
                    <a href="#" @click="addFocusSearch">
                        <i class="fas fa-search"></i>
                    </a>
                    <a href="">
                        <i class="fas fa-paperclip"></i>
                    </a>
                    <a href="">
                        <i class="fas fa-ellipsis-v"></i>
                    </a>
                </div>
                
            </section>

            <!-- Chat Content -->
            <section class="content-chat">
                <div class="message-chat">
                    <div class="message-chat" v-for="(message,index) in contacts[indexChat].messages" :key = "index"  >
                        <span class="box-message" :class="{'send' : message.status == 'sent', 'received' : message.status == 'received'}"   >{{ message.message }}<span class="data-aggiornata">{{ message.date }}</span></span>
                        <!-- <span class="box-message received" v-else-if="message.status == 'received'" >{{ message.message}}<span class="data-aggiornata">{{ message.date }}</span></span> -->
                    </div>

                    


                    <!-- Static for Layout -->
                    <!-- <span class="box-message send">Messaggio Inviato<span class="data-aggiornata">23/04/2021 15:50:00</span></span>
                    <span class="box-message received">Messaggio Ricevuto<span class="data-aggiornata">23/04/2021 15:50:00</span></span> -->

                </div>


                

            </section>

            <!-- Footer-Content -->
            <section class="content-footer">
                <div v-show="emoji" class="emoji-keyboard" @mouseleave="closeWindow">
                    <div class="emoji-card" v-for="(symbol,index) in emojiSimbol" :key="index">
                        <span 
                            @click="updateEmoji(symbol,index)"
                            >{{ symbol.symbol }}</span>
                    </div>
                </div>
                <button class="btn" @mouseenter="openWindow"><i class="far fa-smile"></i></button>
                <input type="text" placeholder="Scrivi un messaggio"
                        v-model="newText"
                        @keyup.enter="newMessage"
                        ref ="newText"
                >
                <button class="btn"><i class="fas fa-microphone"></i></button>
            </section>
        </main>

    </div>





    <!-- JS -->
    <!-- Day Js -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/plugin/customParseFormat.js"></script>

    <!-- Script JS -->
    <script src="./js/script.js"></script>
</body>
</html>